# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\代码整理\M2PLNet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
